<header>
  
  <div class="overlay"></div>



  
     


<video autoplay muted loop id="myVideo" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
  <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
</video>

<div class="container h-100 overlay1">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">TRAVEL WITH US</h1>
        <p class="lead mb-0"></p>
      </div>
    </div>
  </div>

</header>

<div class="row">
	<div class="col-md-6">
      <div class="thumbnail">
      	<h1>we plan,<br>you travel</h1>
        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          <button type="submit" class="btn btn-primary mb-6">Submit your request</button>
        
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="https://images.unsplash.com/photo-1427097829427-56a905bf7004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" target="_blank">
          <img src="https://images.unsplash.com/photo-1427097829427-56a905bf7004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="pool" style="width:100%">
          
        </a>
      </div>
    </div>
	
</div>

 <div class="card-group range">

      <div class="card clickbox">
                        <a href="https://images.unsplash.com/photo-1530521954074-e64f6810b32d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
          <div class="phototag i_affaires"></div>
                            <picture>
                              <source srcset="https://images.unsplash.com/photo-1530521954074-e64f6810b32d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" media="(max-width: 300px)">
                                <source srcset="https://images.unsplash.com/photo-1530521954074-e64f6810b32d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" media="(min-width:301px) and (max-width:767px)">
                                  <img src="https://images.unsplash.com/photo-1530521954074-e64f6810b32d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="card-img-top" alt="Photo">
                                </picture>        
                             </a>
              <div class="card-body text-center">
                            <h5>Business Travel</h5>
                            <h3 class="card-title">Plan your Trip with us</h3>
                        </div>
                        <div class="card-footer text-center">
                            <a href="https://images.unsplash.com/photo-1530521954074-e64f6810b32d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="btn btn-primary clickurl">
                                See the difference
                           </a>
                        </div>
              </div>
                                    
              <div class="card clickbox">
                            <a href="https://images.unsplash.com/photo-1473625247510-8ceb1760943f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=699&q=80">
                  <div class="phototag i_exception"></div>
                            <picture>
                              <source srcset="https://images.unsplash.com/photo-1473625247510-8ceb1760943f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=699&q=80" media="(max-width: 300px)">
                                <source srcset="https://images.unsplash.com/photo-1473625247510-8ceb1760943f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=699&q=80" media="(min-width:301px) and (max-width:767px)">
                                  <img src="https://images.unsplash.com/photo-1473625247510-8ceb1760943f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=699&q=80" class="card-img-top" alt="">
                                </picture>                  
                                      </a>
                        <div class="card-body text-center">
                             <h5>Adventure</h5>
                            <h3 class="card-title">Discover the wildness in you</h3>
                        </div>
                        <div class="card-footer text-center">
                            <a href="https://images.unsplash.com/photo-1473625247510-8ceb1760943f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=699&q=80" class="btn btn-primary clickurl">
                                See the difference
                            </a>
                        </div>
               </div>
                      
              <div class="card clickbox">
                            <a href="https://images.unsplash.com/photo-1576796225952-44192ed176ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80">
                 <div class="phototag escape"></div>
                            <picture>
                              <source srcset="https://images.unsplash.com/photo-1576796225952-44192ed176ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80" media="(max-width: 300px)">
                                <source srcset="https://images.unsplash.com/photo-1576796225952-44192ed176ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80" media="(min-width:301px) and (max-width:767px)">
                                  <img src="https://images.unsplash.com/photo-1576796225952-44192ed176ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80" class="card-img-top" alt="">
                                </picture>                   
                                     </a>
                    <div class="card-body text-center">
                                <h5>Secret escape</h5>
                                <h3 class="card-title">where ever you want</h3>
                      </div>
                      <div class="card-footer text-center">
                            <a href="https://images.unsplash.com/photo-1576796225952-44192ed176ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80" class="btn btn-primary clickurl">
                                See the difference      
                             </a>
                      </div>
                    </div>
        </div>








  <section class="spaced-top">
     <div class="container mb-md-4 layout-text-image reveal">
        
        <div class="container mb-md-4 layout-image-text reveal">
          <div class="row align-items-center justify-content-between row">
            <div class="image-cell col-md-6 col-lg-7 col-xl-6 text-center "><div class="frameloop my-md-5">
              <img src="https://media.istockphoto.com/photos/travel-traveler-traveling-bag-top-open-concepts-picture-id626670014?k=6&m=626670014&s=612x612&w=0&h=sE3ebBv9LdvaFGoHhS2ZLL9iri3G0vK0d5e5jsOAdRw=" class="frame0 img-fluid" alt="">
              <img src="https://www.tripsavvy.com/thmb/EMAdXy9mOCfuLimx06LODH5aQHU=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/Neatlypacketsuitcase-5c17192446e0fb00017f5d44.jpg" class="frame1 img-fluid" alt="">
            </div>
          </div>
          <div class="text-cell col-md-6 col-lg-5 p-4 py-md-5">
            <div class=" mr-lg-5  ml-md-0 pr-lg-5">
              <h3 class="h2">Combine Leisure and Fun <br>The best you can have</h3><a href="https://www.tripsavvy.com/thmb/EMAdXy9mOCfuLimx06LODH5aQHU=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/Neatlypacketsuitcase-5c17192446e0fb00017f5d44.jpg" class="btn btn-primary">Check our Travel</a>
            </div>
          </div>    
        </div>
    </div>
            
    </div>
    </section>

<section class="space">
  <div class="context">
  	
        <div class="col text-center">
                <h3>Our Latest on Social media</h3>
             </div>

  </div>

  <div class="row2">
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="https://images.unsplash.com/photo-1530521954074-e64f6810b32d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" target="_blank">
          <img src="https://images.unsplash.com/photo-1470074558764-4e577e98bc85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" style="width:100% height:100px">
        </a>         
        
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="https://images.unsplash.com/photo-1473625247510-8ceb1760943f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=699&q=80" target="_blank">
          <img src="https://images.unsplash.com/photo-1559414059-34fe0a59e57a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="Nature" style="width:100% height:100px">
        </a>                  
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="https://images.unsplash.com/photo-1499363536502-87642509e31b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" target="_blank">
          <img src="https://images.unsplash.com/photo-1461237439866-5a557710c921?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Fjords" style="width:100% height:100px" >
        </a>         
        
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="https://images.unsplash.com/photo-1499363536502-87642509e31b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" target="_blank">
          <img src="https://images.unsplash.com/photo-1470214203634-e436a8848e23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Fjords" style="width:100% height:100px" >
        </a>         
        
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="https://images.unsplash.com/photo-1499363536502-87642509e31b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" target="_blank">
          <img src="https://images.unsplash.com/photo-1506126483163-f4d1558dbf85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Fjords" style="width:100% height:100px" >
        </a>         
        
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="https://images.unsplash.com/photo-1499363536502-87642509e31b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" target="_blank">
          <img src="https://images.unsplash.com/photo-1509786679719-3d066e68f607?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Fjords" style="width:100% height:100px" >
        </a>         
        
      </div>
    </div>
  </div>

</section>










 









                         