<div class="row">
	<div class="col-md-6">
      <div class="thumbnail">
      	<h1>we plan,<br>you travel</h1>
        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          <button type="submit" class="btn btn-primary mb-6">Submit your request</button>
        
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="https://images.unsplash.com/photo-1427097829427-56a905bf7004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" target="_blank">
          <img src="https://images.unsplash.com/photo-1427097829427-56a905bf7004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="pool" style="width:100%">
          
        </a>
      </div>
    </div>
	
</div>
<div class="row1">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://images.unsplash.com/photo-1530521954074-e64f6810b32d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" target="_blank">
          <img src="https://images.unsplash.com/photo-1530521954074-e64f6810b32d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Lights" style="width:100% height:200px">
        </a>
          <div class="caption">
          	<h1>Business Travel</h1>
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            <button type="submit" class="btn btn-primary mb-6">Submit your request</button>
          </div>
        
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://images.unsplash.com/photo-1473625247510-8ceb1760943f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=699&q=80" target="_blank">
          <img src="https://images.unsplash.com/photo-1473625247510-8ceb1760943f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=699&q=80" alt="Nature" style="width:100% height:200px">
        </a>
          <div class="caption">
          	<h1>Extraordinary Travel</h1>
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            <button type="submit" class="btn btn-primary mb-6">Submit your request</button>
          </div>
        
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://images.unsplash.com/photo-1499363536502-87642509e31b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" target="_blank">
          <img src="https://images.unsplash.com/photo-1499363536502-87642509e31b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="Fjords" style="width:100% height:200px" >
        </a>
          <div class="caption">
          	<h1>Adventure Travel</h1>
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            <button type="submit" class="btn btn-primary mb-6">Submit your request</button>
          </div>
        
      </div>
    </div>
  </div>
  <div class="context">
  	<div class="col-md-12">
  		<h3>Our Latest</h3>
  	
  	</div>
  </div>

  <div class="row2">
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="https://images.unsplash.com/photo-1530521954074-e64f6810b32d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" target="_blank">
          <img src="https://images.unsplash.com/photo-1470074558764-4e577e98bc85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Lights" style="width:100% height:100px">
        </a>         
        
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="https://images.unsplash.com/photo-1473625247510-8ceb1760943f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=699&q=80" target="_blank">
          <img src="https://images.unsplash.com/photo-1559414059-34fe0a59e57a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="Nature" style="width:100% height:100px">
        </a>                  
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="https://images.unsplash.com/photo-1499363536502-87642509e31b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" target="_blank">
          <img src="https://images.unsplash.com/photo-1461237439866-5a557710c921?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Fjords" style="width:100% height:100px" >
        </a>         
        
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="https://images.unsplash.com/photo-1499363536502-87642509e31b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" target="_blank">
          <img src="https://images.unsplash.com/photo-1470214203634-e436a8848e23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Fjords" style="width:100% height:100px" >
        </a>         
        
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="https://images.unsplash.com/photo-1499363536502-87642509e31b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" target="_blank">
          <img src="https://images.unsplash.com/photo-1506126483163-f4d1558dbf85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Fjords" style="width:100% height:100px" >
        </a>         
        
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="https://images.unsplash.com/photo-1499363536502-87642509e31b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" target="_blank">
          <img src="https://images.unsplash.com/photo-1509786679719-3d066e68f607?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Fjords" style="width:100% height:100px" >
        </a>         
        
      </div>
    </div>
  </div>