<div class="main">
  
	<div class="row">
		<div class="col-md-12">
				<h1>Quatum Voyages</h1>
			<div class="container">

        <div class="navigation">
		
  				<nav>
            <ul>
    				<!--<ul  class="nav navbar-nav navbar-right">-->
      					<!--<li *ngFor="let menu of menus">
							<a *ngIf="!menu.hasPage" class="nav-link"  [routerLink]="['/menus']" routerLinkActive="active">{{menu.name}}</a>
						</li>-->
           
						
               <li>
      						<a class="nav-link" routerLink = "/">HOME <span class="sr-only">(current)</span></a>
      					</li>
      					<li class="nav-item">
      						<a  class="nav-link" routerLink="/travel" routerLinkActive="active">TRAVEL</a>
      					</li>
      					<li class="nav-item">
                  <a class="nav-link" routerLink="/our inspirations" routerLinkActive="active">OUR INSPIRATIONS </a>
                </li>
      					<li class="nav-item">
                  <a class="nav-link" routerLink="/**" routerLinkActive="active">CONTACT</a>
                </li>
      					<!-- shopping card -->
                <li><a [routerLink]="'./shopping-cart'" class="cart">Shopping Cart<span class="badge my-badge"></span></a></li>
    				</ul>
  				</nav>
        </div>
			</div>
			
	</div>	
</div>


