

<div class="main">

<div class="row" *ngFor="let info of infos; index as infoId">
  <div class="img_container">
                <img class="img-responsive" src="{{info.img}}">
  </div>
  <div class="primary">
            <h2 class="name text-center">{{info.name}}</h2>
              <p class="genre text-center"><b>{{info.genre}}</b></p>
              <p class="start testo text-center">{{info.costPrice| currency }}</p>
              <p class="description testo text-center"> {{info.description}} </p>
              <a [routerLink]="['/infos', infoId]"><button type="submit" class="btn btn-primary mb-6">See more details</button></a>
  </div>
  <div class="primary">
            <h2 class="name text-center">{{info.name}}</h2>
              <p class="genre text-center"><b>{{info.genre}}</b></p>
              <p class="start testo text-center">{{info.costPrice| currency }}</p>
              <p class="description testo text-center"> {{info.description}} </p>
              <a [routerLink]="['/infos', infoId]"><button type="submit" class="btn btn-primary mb-6">See more details</button></a>
  </div>
  <div class="img_container">
                <img class="img-responsive" src="{{info.img}}">
  </div>
  <!--<div class="col-xs-12 col-md-6">
    <div class="prod-info-main prod-wrap clearfix">
    <div class="row">
    <div class="col-md-5 col-sm-12 col-xs-12">
        <div class="img_container">
                <a [routerLink]="['/infos', infoId]"><img class="img-responsive" src="{{info.img}}"></a>
        </div>
    </div>
    <div class="col-md-7 col-sm-12 col-xs-12">
      <div class="primary">
      <div class="product-detail">
            <h2 class="name text-center">{{info.name}}</h2>
              <p class="genre text-center"><b>{{info.genre}}</b></p>
              <p class="start testo text-center">{{info.costPrice| currency }}</p>
            </div>
            <div class="description">
              <p class="description testo text-center"> {{info.description}} </p> 
              
        </div>
      </div>
  </div>
</div>
  </div>
</div>-->
</div>
</div>

<header>
      <img class="logo" src="src/assets/img/travel1.png" alt="logo" />

    </header>

    <div class="jumbotron">
      <h1>Where do you want to land?</h1>
      <form autocomplete="off">
        <input type="text" id="city">
        <button id="button" type="submit">Submit</button>
      </form>
		<figcaption class="caption">Static Image</figcaption>
    </div>
    <div class="container">
    <div id="destination">

    </div>
    <div class="sectiontitle">
      <h2>CURRENT WEATHER</h2>
    </div>
    
    <section id="weather">

        <div class="weather" id="weather1">

        </div>

    </section>
    <div class="sectiontitle">
      <h2>TOP ATTRACTIONS</h2>
    </div>
    <section id="venues">
      <div class="venue" id="venue1">

      </div>
      <div class="venue" id="venue2">

      </div>
      <div class="venue" id="venue3">

      </div>
    

 




